@font-face {
  font-family: "Digital Readout Upright";
  src: url('/assets/styles/fonts/DIGIRU__.ttf');
}

.controls {
  margin-right: 20px;
  padding: 4px 20px;
  border: 2px solid #ccc5b9;
  border-radius: 10px;

  &__label {
    margin-top: 0;
    font-weight: 200;
  }

  &__display {
    width: 175px;
    padding: 6px;
    text-align: center;
    font-family: "Digital Readout Upright", monospace;
    font-size: 1.5rem;
    background-color: black;
    color: green;
  }
}
