@font-face {
  font-family: "Digital Readout Upright";
  src: url('/assets/styles/fonts/DIGIRU__.ttf');
}

.controls {
  margin-right: 20px;
  padding: 4px 20px;
  border: 2px solid #ccc5b9;
  border-radius: 10px;

  &__label {
    display: block;
    margin-top: 10px;
    margin-bottom: 4px;
    font-weight: 200;
  }

  &__powerToggle {
    position: relative;
    display: inline-block;
    width: 34px;
    height: 20px;

    input {
      opacity: 0;
      width: 0;
      height: 0;
    }

    input:checked + .controls__powerToggleSlider {
      background-color: #2196F3;
    }

    input:focus + .controls__powerToggleSlider {
      box-shadow: 0 0 1px #2196F3;
    }

    input:checked + .controls__powerToggleSlider:before {
      transform: translateX(16px);
    }
  }

  &__powerToggleSlider {
    position: absolute;
    cursor: pointer;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: #ccc;
    border-radius: 20px;
    transition: .4s;

    &:before {
      position: absolute;
      content: '';
      width: 16px;
      height: 16px;
      left: 2px;
      bottom: 2px;
      background-color: white;
      border-radius: 50%;
      transition: .4s;
    }
  }

  &__vol {
    -webkit-appearance: none;
    width: 175px;
    background: transparent;
  }

  &__vol::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 36px;
    height: 18px;
    margin-top: -7px;
    border: 1px solid #000;
    border-radius: 3px;
    background: linear-gradient(.25turn, white, #403d39, white);
    box-shadow: 1px 1px 1px #000, 0px 0px 1px #0d0d0d;
    cursor: pointer;
  }

  &__vol::-moz-range-thumb {
    /* copy from above when done styling for Chrome */
    -webkit-appearance: none;
    width: 36px;
    height: 18px;
    border: 1px solid #000;
    border-radius: 3px;
    background: linear-gradient(.25turn, white, #403d39, white);
    box-shadow: 1px 1px 1px #000, 0px 0px 1px #0d0d0d;
    cursor: pointer;
  }

  &__vol::-ms-thumb {
    /* copy from above when done styling for Chrome */
    -webkit-appearance: none;
    width: 36px;
    height: 18px;
    border: 1px solid #000;
    border-radius: 3px;
    background: linear-gradient(.25turn, white, #403d39, white);
    box-shadow: 1px 1px 1px #000, 0px 0px 1px #0d0d0d;
    cursor: pointer;
  }

  &__vol:focus {
    outline: none;
  }
  &__vol::-ms-track {
    width: 175px;
    cursor: pointer;
    /* background: transparent; */
    border-color: transparent;
    color: transparent;
  }
  &__vol::-webkit-slider-runnable-track {
    height: 6px;
    margin: 10px 0;
    background: grey;
    /* drop-shadow: 1px 1px 1px #000, 0px 0px 1px #0d0d0d; */
    border: .02px solid #010101;
    border-radius: 1.3px;
    cursor: pointer;
  }
  &__vol::-moz-range-track {
    height: 6px;
    margin: 10px 0;
    background: grey;
    /* drop-shadow: 1px 1px 1px #000, 0px 0px 1px #0d0d0d; */
    border: .02px solid #010101;
    border-radius: 1.3px;
    cursor: pointer;
  }
  &__vol::-ms-track {
    height: 6px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    border-width: 16px 0;
    color: transparent;
  }



  &__display {
    width: 175px;
    padding: 6px;
    text-align: center;
    font-family: "Digital Readout Upright", monospace;
    font-size: 1.5rem;
    background-color: black;
    color: green;
  }
}
