.drum-pad {
  display: inline-flex;
  width: 10px;
  height: 10px;
  padding: 2rem;
  border: 1px #EB5E28 solid;
  border-radius: 50%;
  box-shadow: 3px 5px 1px rgba(000,000,000,0.5),
    inset 3px 4px 1px rgba(255,255,255,0.4);
  align-items: center;
  justify-content: center;
  background-color: #eb5e28;
  background-image: linear-gradient(to bottom, rgba(241, 181, 157, 0.97), #EB5E28);
  font-size: 1.25rem;
  text-shadow:
    1px 1px 2px rgba(000,000,000,0.5),
    0px 1px 0px rgba(255,255,255,0.4);

  &:hover {
    box-shadow: none;
    background-image: linear-gradient(to bottom, rgba(239, 169, 140, 0.97), #EB5E28);
  }

  @mixin atMedium {
    padding: 3rem;
    font-size: 2rem;
  }
}
